<div id="app" class="min-h-screen flex items-center justify-center">
  <h1 class="text-5xl font-bold text-blue-400">
    Hello from Tailwind sailing in Sails.
  </h1>
<p>as per <a href="https://github.com/tailwindlabs/tailwindcss-setup-examples/pull/97/commits/377beee15972251cc1ab9d265f8297ebbe52e45b#diff-b74c67cb50bb17685d1a366b05372daefe92d667030dd53214f3c71ee7ef8fef">the example pr</a></p>
</div>
